

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container-fluid {
    padding-top: 80px; 
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner img { 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-control { 
	background: none !important; 
	filter: none !important; 
	progid:none !important; 
} 
  .container-contact {
      padding: 80px 120px;
}

 .btn-1 {
      padding: 10px 20px;
}











